body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #40514E;

    hr {
        border: 6px dotted #eaf6f6 ;
        width: 4%;
        margin: 100px auto;
    }

    .top-container{
        background-color: #e4f9f5;
        margin: 0;
        padding: 70px;

        h1{
            color: #66BFBF;
            font-size: 5.625rem;
            margin: 50px auto 0 auto;
            font-family: 'Sacramento', cursive;
        }

        h2{
            color: #66BFBF;
            font-family: 'Montserrat', cursive;
            font-size: 2.3rem;
            font-weight: normal;

            span{
                text-decoration: underline;
            }
        }

        p{
            margin: 0;
            font-size: 2.5rem;
        }

        .top-cloud{
            position: relative;
            top: 10px;
            left: 200px;
        }

        .bottom-cloud{
            position: absolute;
            top: 470px;
            left: 300px;
        }

    }
    .middle-container{
        margin: 100px 0;
        h2{
            color: #66BFBF;
        }
        .profile{
            img{
                width: 100px;
                height: 100px;
                box-shadow: 1px 1px 3px #000;
                border-radius: 100px;
            }
            p{
                margin: auto;
                width: 30%;
                line-height: 2;
            }
        }

        .skills{
            #bigbox{
                margin-bottom: 30px;
                height: 220px;
                display: flex;
                justify-content: center;
                align-items: center;

                #smallbox{
                    display: inline-block;
                    width: 250px;
                    height: 220px;
                    background: #fff;
                    margin: 18px;
                    border-radius: 30px;
                    text-align: center;
                    overflow: auto;
                    box-shadow: 1px 1px 5px #666666;

                    img{
                        margin-top: 30px;
                    }

                    h3{
                        position: relative;
                        bottom: 0px;
                        margin-bottom: 4px;
                        color: #66BFBF;

                    }

                    p{
                        margin: 0;

                    }
                }
            }
        }
        .contact-me{
            p{
                width: 40%;
                margin: 40px auto
            }
            .btn {
                background: #11cdd4;
                background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
                background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
                background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
                background-image: -o-linear-gradient(top, #11cdd4, #11999e);
                background-image: linear-gradient(to bottom, #11cdd4, #11999e);
                -webkit-border-radius: 8;
                -moz-border-radius: 8;
                border-radius: 8px;
                font-family: 'Montserrat', sans-serif;
                color: #ffffff;
                font-size: 16px;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
              }

              .btn:hover {
                background: #30e3cb;
                background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
                background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
                background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
                background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
                background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
                text-decoration: none;
              }
        }
    }
    .bottom-container{
        background-color: #66bfbf;
        padding: 50px 0 20px;

        a{
            font-family: 'Montserrat', sans-serif;
            margin: 10px 20px;
            text-decoration: none;

            &:hover{
                color: #eaf6f6;
            }
        }
        p{
            color: #eaf6f6;
            font-size: 0.75rem;
            padding: 20px 0
        }
    }
}

